
.footer {
  background-color: hsl(0, 71%, 7%);
    padding: 2rem 1rem;
    text-align: center;
  
  }
  
  .social-icons a {
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    
    
  }
  
  .copyright,
  .terms-of-use {
    margin-top: 1rem;
    color: #fff;
   
    
    
  }
  
  