@media (width<=600px) {
    section {
        width: 750px;
        color: rgb(114, 255, 255);
        margin-top: 10px;
        font-family: 'Space Grotesk', sans-serif;
        margin-left: 2rem;

    }
    nav {
        display: flex;
        justify-content: space-between;
        font-family: 'Space Grotesk', sans-serif;
    }

    h1 {
        font-size: 25px;
    }

    a {
        color: #fff;
    }

    ul {
        list-style: none;
        display: flex;
    }

    .listed {
        margin-left: 8rem;
    }

    li {
        margin-left: 3rem;
    }
}

 @media (width>=768px)  {
    section {
        color: rgb(114, 255, 255);
        margin-top: 20px;
    }


    nav {
        display: flex;
        margin-left: 2rem;
        justify-content: space-between;
        font-family: 'Space Grotesk', sans-serif;
    }

    h1 {
        font-size: 30px;
    }

    a {
        color: #fff;
    }

    ul {
        list-style: none;
        display: flex;
        margin-right: 35px;
    }

    li {
        margin-left: 3rem;
    } 
   
}  

@media (width >=992px) {
    section {
        width: 100%;
        color: rgb(114, 255, 255);
        margin-top: 20px;
    }
    nav {
        display: flex;
        margin-left: 2rem;
        justify-content: space-between;
        font-family: 'Space Grotesk', sans-serif;
    }

    h1 {
        font-size: 30px;
    }

    a {
        color: #fff;
    }

    ul {
        list-style: none;
        display: flex;
        margin-right: 35px;
        
    
    }

    li {
        margin-left: 3rem;
    } 
}

@media (width >=1200px) {
    section {
        width: 100%;
        color: rgb(114, 255, 255);
        margin-top: 20px;
    }
    nav {
        display: flex;
        margin-left: 2rem;
        justify-content: space-between;
        font-family: 'Space Grotesk', sans-serif;
    }

    h1 {
        font-size: 30px;
    }

    a {
        color: #fff;
    }

    ul {
        list-style: none;
        display: flex;
        margin-right: 35px;
        
    
    }

    li {
        margin-left: 3rem;
    } 
}

