nav {
    display: flex;
    margin-left: 20px;
}

.dev {
    color: white;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
    margin-top: 10px
}

li:hover {
    color: blueviolet;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    nav {
        margin-left: 5px;
    }
    li {
        margin-left: 10px;
    }
}