nav {
    display: flex;
    margin-left: 3rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.web {
    color: #72ffff;
}

a {
    color:#fff;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 4rem;
}

li {
    margin: 10px 20px;
    color: black;  
}

li:hover {
    color: rgb(65, 19, 204);
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    nav {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    

}