.project {
    max-width: 100%;
    margin-top: 10rem;
    background-color: hsl(0, 71%, 7%);
    
    
}


.pro{
    color: #fff;
    margin-left: 2rem;
    margin-top: 50px;
    font-family: 'Space Grotesk', sans-serif;
}

.task {
    display: flex;
    width: 80%;
    margin-left: 3rem;
    margin-top: 20px;
    gap: 20px; 
}


.paragraph {
    color: #fff;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
}

@media screen and (max-width: 576px) {
    .task {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 2rem;
    }


}

@media screen and (min-width: 768px)  and (max-width: 1024px) {
    .task {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    }

} 
