.project {
    width: 100%; /* Take up full width of the screen */
    padding: 10px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fff;
    color: #3d099b;
    margin-top: 10rem;
    margin-left: auto; /* Center the component horizontally */
    margin-right: auto;
}


.task {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 2rem;
    
}

.plot {
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    
}

.paragraph {
    font-weight: bold;
}



 @media screen and (max-width: 576px) {
    .project {
        width: 100%;
        margin-top: 15rem;
        margin-left: 0;
        margin-right: 0;
        background: inherit;
        color: inherit;
    }

    .plot {
        display: flex;
        flex-direction: column;
    }


 }
  


 @media screen and (min-width: 768px)  and (max-width: 1024px) {
    .plot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    }

}  
