 .showcase{
    display: flex;
    width: 80%;
    color: #72ffff;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 3rem;
    margin-left: 2rem; 
    opacity: 0;  
}

.ease-in {
    animation: ease-in-animation 5s ease-in-out forwards;
  }
  
  @keyframes ease-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.segzy {
    width: 400px;
    height: 400px;
    margin-left: 5rem;
}

.skillset {
    margin-top: 2rem;
}

.skills {
    font-size: 3rem;
}

.info {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.flexxy {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 576px) {
    .showcase {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .segzy {
        margin-left: 2rem;
    }
}