.showcase{
    display: flex;
    width: 80%;
    color: #72ffff;;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 1rem;
    margin-left: 1rem;
    
   
}

.segzy {
    width: 400px;
    height: 400px;
    margin-left: 5rem;
}

.skills-info {
    margin-top: 4rem;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
    
}

.social a {
    color: #fff;
    margin-left: 1rem;
}

.skills {
    max-width: 100%;
    font-size: 3rem;
}

.info {
    max-width: 100%;
    font-size: 1rem;
}

.techstack {
    margin-top: 70px;
}

.skillz {
    position: absolute;
    left: 0;
    display: flex;
}

li {
    margin-left: 5px;
}

@media screen and (max-width: 576px) {
    .showcase{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-left: 2px;
    }

    .segzy {
        width: 300px;
        height: 300px;
        margin-left: 4rem;
    }
    .details {
        margin-left: 3rem;
        width: 100%;
        
        
    }

    .skillz {
        margin-left: 1px;
    }
}