@media (width<=600px)  {
    .techSkills {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 6rem;
        
    
    }

    .sta h2 {
        margin-left: 3rem;
        margin-top: 2rem;
        font-size: 50px;
        color: rgb(114, 255, 255);
    }
    .skillssets button {
        color: #fff;
        width: 140px;
        border-radius: 10px;
        border: none;
        padding: 20px;
        font-size:18px;
        margin-left: 2rem;
        margin-top: 2rem;
        font-weight: 400;

       
    }

    .cap {
        position: absolute;
        left: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 6rem;
        
    }

    .skt {
        margin-left: 5px;
    }
}

@media (width>=768px) {
    .techSkills {
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        margin-left: 3rem;
        color: rgb(114, 255, 255);
        
    
    }
    .skillssets button {
        margin-top: 1rem;
        padding: 30px;
        border-radius: 10px;
        border: none;
        font-size:15px;

       
    }

    .skt {
        margin-left: 20px;
    }
}

@media  (width >= 992px) {
    .techSkills {
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        margin-left: 3rem;
        color: rgb(114, 255, 255);
        
    
    }
    .skillssets button {
        margin-top: 1rem;
        padding: 30px;
        border-radius: 10px;
        border: none;
        font-size:15px;

       
    }
}

@media  (width >= 1200px) {
    .techSkills {
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        margin-left: 3rem;
        color: rgb(114, 255, 255);
        
    
    }
    .skillssets button {
        margin-top: 1rem;
        padding: 30px;
        border-radius: 10px;
        border: none;
        font-size:15px;

       
    }
}





